/*
Colors used:
Primary color: #000000
Secondary color: #ffc0cb
Highlights: #ff5668
Base Background color: White #FFFFFF
Base font color: Black #000000
Font family: Roboto condensed
Font family: Sansita swashed
*/
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

/*layout styling*/
.container {
  padding: 0 15px;
  border-width: medium;
  border-color: #ffffff;
}

header {
  background-color: #fff4f4;
  padding: 20px 0;
  border-color: #ffffff;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0;
  opacity: 0.8;
  display: block;
  margin: 0;
}

.nav {
  display: inline-block;
  float: right;
  margin-top: 15px;
  font-weight: 300;
  font-size: 20px;
}

.navigating {
  display: inline-block;
  float: right;
  margin-top: 15px;
  font-weight: 300;
  font-size: 20px;
}

.ul {
  display: block;
  list-style-type: disc;
  padding-inline-start: 40px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: right;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: relative;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive nav {
  padding: 25px 0 0;
}

.navtoggle.responsive li {
  display: inline-block;
  text-align: right;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 127, 80, 0.5);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.navtoggle.responsive li {
  display: block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 500;
  color: #ff4242;
}

a {
  color: #ff5353;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  letter-spacing: 0.235px;
}

a:hover {
  color: #ff5353;
  font-weight: bold;
}

a:visited {
  /* visited link */
  color: #ff5353;
}

a:active {
  /* selected link */
  color: #994c30;
}

a:hover, a:focus {
  color: #ffc0cb;
  color: #df4747;
  font-weight: bold;
}

body {
  background-color: #fff4f4;
  font-family: 'Antic Didone', serif;
  font-size: 16px;
  line-height: 1.6;
  color: #000000;
  border-color: #000000;
  box-sizing: border-box;
  padding: 20px 0;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 3.0em;
  font-weight: 700;
  color: #000000;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  color: #b2065d;
}

h3 {
  font-size: 1.75em;
  font-weight: 700;
  color: #000000;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

.row {
  margin: 10px 0;
  /* 25px top and bottom, 0 left and right */
}

.section1 {
  border-bottom: 3px solid #b2065d;
  padding-bottom: 50px;
  padding-top: 50px;
}

.title h1 {
  color: #b2065d;
  background-color: #fff4f4;
}

.casestudy p {
  font-family: 'Nanum Gothic', sans-serif;
}

.casestudy h2 {
  color: #b2065d;
}

.casestudy {
  margin-bottom: 250px;
}

#project {
  margin-top: 80px;
}

#project p, ul, li {
  text-align: left;
  color: #000000;
  font-family: 'Nanum Gothic', sans-serif;
}

#hero h1 {
  text-align: center;
  /* Centers text */
  color: #ff5668;
  display: inline-block;
}

#hero span {
  display: inline-block;
}

#hero {
  background-color: #fff4f4;
  padding: 35px 0 20px 0;
  display: inline-block;
  width: 100%;
}

#footer {
  background-color: #fff4f4;
  display: block;
  width: 100%;
  text-align: left;
  color: #000000;
  font-family: 'Nanum Gothic', sans-serif;
  padding: 10px;
}

.text_left {
  text-align: left;
}

.text_right {
  text-align: right;
}

.center {
  text-align: center;
}

#footer h2 {
  text-align: left;
  color: #000000;
  font-family: 'Antic Didone', serif;
}

a {
  color: #ff5668;
  text-decoration: none;
}

a:hover {
  color: #ff5353;
  font-weight: bold;
}

a:visited {
  /* visited link */
  color: #ff5353;
}

a:active {
  /* selected link */
  color: #994c30;
}

a:hover, a:focus {
  color: #ffc0cb;
  color: #df4747;
  font-size: 20px;
  font-weight: bold;
}

img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 10px 37px -13px rgba(0, 0, 0, 0.75);
}

.img2 {
  box-shadow: none;
}

.button {
  display: inline-block;
  color: #ff5668;
  font-size: 20px;
  transition: 0.2s opacity;
  transition-duration: 0.2s;
  transition-property: opacity;
  margin-left: 380px;
  margin-top: 10px;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
  font-size: 20px;
  text-decoration: underline;
}

.button1 {
  display: inline-block;
  color: #ff5668;
  font-size: 20px;
  transition: 0.2s opacity;
  transition-duration: 0.2s;
  transition-property: opacity;
  text-align: left;
  padding: 0 15px;
}

.button1:hover {
  opacity: 0.8;
  text-decoration: none;
  font-size: 20px;
}

.button2 {
  display: inline-block;
  color: #ff5668;
  font-size: 20px;
  transition: 0.2s opacity;
  transition-duration: 0.2s;
  transition-property: opacity;
  text-align: left;
  padding: 0 15px;
}

.button2:hover {
  opacity: 0.8;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.button.contact {
  background-color: transparent;
  color: #ff5668;
  text-transform: uppercase;
  border: 2px solid #ff5668;
}

.button.contact:hover {
  background-color: #ff5668;
  color: #ffffff;
}

.resume {
  background-color: transparent;
  color: #ff5668;
  text-transform: uppercase;
  border: 2px solid #ff5668;
}

.resume:hover {
  background-color: #ff5668;
  color: #ffffff;
}

.logo {
  max-width: 120px;
  box-shadow: none;
  border-radius: 0px;
}

.profilepic {
  width: 25%;
  float: left;
  margin-right: 25px;
  margin-bottom: 25px;
  box-shadow: none;
}

[class*="col-"] {
  float: left;
  padding: 10px 10px 10px 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (min-width: 640px) {
  body {
    padding: 20px 0;
    border-left: 20px solid #FFFFFF;
    border-right: 20px solid #FFFFFF;
    border-top: 20px solid #FFFFFF;
    border-bottom: 20px solid #FFFFFF;
  }

  main {
    padding: 20px 0;
  }

  header {
    text-align: unset;
    padding: 20px 0;
    border-left: 20px solid #FFFFFF;
    border-right: 20px solid #FFFFFF;
    border-top: 20px solid #FFFFFF;
  }

  nav {
    width: auto;
    float: right;
  }

  nav>ul {
    margin: 1em 0;
  }

  nav>ul>li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .col-md-6 {
    width: 50%;
    float: left;
    padding: 0 10px;
  }

  .col-lg-5 {
    width: 50%;
    float: right;
  }

  .col-lg-7 {
    width: 50%;
    float: right;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .profilepic {
    width: 25%;
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
    box-shadow: none;
  }

  .text_left {
    text-align: left;
  }

  .text_right {
    text-align: right;
  }

  @media only screen and (min-width: 1024px) {
    .col-md-6 {
      width: 50%;
    }

    .container {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media only screen and (min-width: 1440px) {
    .col-md-6 {
      width: 50%;
    }

    .container {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media only screen and (min-width: 1920px) {
    .col-md-6 {
      width: 50%;
    }

    .container {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
  }
