/*
Colors used:
Primary color: #000000
Secondary color: #ffc0cb
Highlights: #ff5668
Base Background color: White #FFFFFF
Base font color: Black #000000
Font family: Roboto condensed
Font family: Sansita swashed
*/
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
/*layout styling*/
.container {
  padding: 0 15px;
  border-width: medium;
  border-color: #ffffff;
}
main {
  padding-top: 65px;
  display: block;
  background-color: #fff4f4;
}
header {
  background-color: rgba(255, 245, 243, 0.9);
  padding: 20px;
  border-color: #ffffff;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0;

  display: block;
  margin: 0;
}
.navigating {
  display: inline-block;
  float: right;
  margin-top: 15px;
  font-weight: 300;
  font-size: 20px;
}
.ul {
    display: block;
    list-style-type: disc;


    padding-inline-start: 40px;
}
nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: right;
}
.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle li .icon {
  position: relative;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}
.navtoggle.responsive nav {
    padding: 25px 0 0;
}

.navtoggle.responsive li{
    display: inline-block;
    text-align: right;
    padding: 10px 0;
    border-top: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive li:last-child {
    padding: 0 0 10px;
}
.navtoggle.responsive li  {
  display: block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 500;
  color: #ff4242;
}
#overview .row {
    display: inline-block;
    width: 100%;
    margin: 0;
}
body {
  font-family: 'Antic Didone', serif;
  font-size: 16px;
  line-height: 1.6;
  color: #000000;
  border-color: #000000;
  padding: 10px;

  box-sizing: border-box;

}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 3.0em;
  font-weight: 700;
  color: #000000;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 700;
  color: #000000;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
.row {
  margin: 10px 0; /* 25px top and bottom, 0 left and right */
  padding-top: 25px;
  padding-bottom: 25px;
}
#hero h1, p {
  text-align: center; /* Centers text */
  color: #000000;
  display: inline-block;
}
#hero span {
  display: inline-block;
}
#hero {
  background-color: #fff4f4;
  padding: 15px 0 15px 15px;
  display: inline-block;
  width: 100%;
}
#hero1 {
  background-color: #fff4f4;
  padding: 15px 0 20px 0;
  display: inline-block;
  width: 100%;
}
#work  {
  background-color: #fff4f4;
  padding:10px;
  display: block;
  width: 100%;
}
#work h3  {
    font-family: 'Antic Didone', serif;
    line-height: 1.4;
    margin: 0 0 15px 15px;
    font-size: 3.5em;
    font-weight: 700;
    text-align: right;
    color: #000000;
}
#work p {
  text-align: right;
  color: #000000;
  font-family: 'Nanum Gothic', sans-serif;
  margin: 0px;
  display: block;

}
#work2  {
  background-color: #fff4f4;
  padding: 0 10px;
  display: block;
  width: 100%;
}
#work2 h3  {
    font-family: 'Antic Didone', serif;
    line-height: 1.4;
    margin: 0 15px 15px 15px;
    font-size: 2.5em;
    font-weight: normal;
    text-align: left;
    color: #000000;
}
#work2 p {
  text-align: left;
  color: #000000;
  font-family: 'Nanum Gothic', sans-serif;
  margin: 15px;
  display: block;

}
#work3  {
  background-color: #fff4f4;
  padding: 0 10px;
  display: block;
  width: 100%;
}
#work3 h3  {
    font-family: 'Antic Didone', serif;
    line-height: 1.4;
    margin: 0px;
    font-size: 2.5em;
    font-weight: normal;
    text-align: right;
    color: #000000;
}
#work3 p {
  text-align: right;
  color: #000000;
  font-family: 'Nanum Gothic', sans-serif;
  margin: 0px;
  display: block;
}


.pic {
  padding: 30px;
box-shadow: 0px 10px 37px -13px rgba(0,0,0,0.75);
border-radius: 20px;
width: 75%;
}
.pic1 {
  padding-left: 40px;
}
.picture {
  min-width: 250px;
  border-radius: 0;
  box-shadow: none;
}
#about p, ul, li {
  text-align: left;
  color: #000000;
  font-family: 'Nanum Gothic', sans-serif;
}
#skillset {
  text-align: left;
  color: #000000;
  font-family: 'Antic Didone', serif;
  padding-top: 40px;
}
#skillset h2 {
  text-align: left;
  color: #000000;
  font-family: 'Antic Didone', serif;

}
#Layer_1 {
  max-width: 400px;
}
#contact p {
  background-color: #fff4f4;
  display: inline-block;
  color: #000000;
  font-family: 'Nanum Gothic', sans-serif;
  padding: 10px;
  text-align: left;
  line-height: normal;
}
.contact1 {
  padding-top: 15px;
  margin-top: 10px;
}
#footer {
  background-color: #fff4f4;
  display: block;
  width: 100%;
  text-align: left;
  color: #000000;
  font-family: 'Nanum Gothic', sans-serif;
  padding: 10px;
  margin-top: 10px;
  border-top: #fff4f4;
}
.text_left{
  text-align: left;
}
.text_right{
  text-align: right;
}
.center{
  text-align: center;
}
#footer h2 {
  text-align: left;
  color: #000000;
  font-family: 'Antic Didone', serif;
}
a {
    color: #ff5668;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 0.235px;

}
a:hover {
  color: #E50000;
  font-weight: bold;
}
a:visited { /* visited link */
  color: #ff5668;
}
a:active { /* selected link */
  color: #994c30;
}
a:hover, a:focus {
  color: #ffc0cb;
  color: #df4747;
  font-weight: bold;
}


img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 3px 3px 19px 1px rgba(0,0,0,0.49);
}
.images_main{
  min-width: 400px;
  max-width: 600px;
  min-height: 200px;
  max-height: 400px;
  box-shadow: 3px 3px 19px 1px rgba(0,0,0,0.49);
}
.center {
  text-align: right;
}
.button {
  color: #ff5668;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  font-family: 'Nanum Gothic', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0px;
  padding-top: 30px;
}
.button:hover {
  opacity: 0.8;
  text-decoration: none;
  font-size: 20px;
  text-decoration: underline;
}
.button1 {
  display: inline-block;
  color: #ff5668;
  font-size: 20px;
  transition: 0.2s opacity;
  transition-duration: 0.2s;
  transition-property: opacity;
  text-align: left;
  padding: 0 15px;
}
.button1:hover {
  opacity: 0.8;
  text-decoration: none;
  font-size: 20px;
}
.button2 {
  display: inline-block;
  color: #ff5668;
  font-size: 20px;
  transition: 0.2s opacity;
  transition-duration: 0.2s;
  transition-property: opacity;
  text-align: left;
  padding: 0 15px;
}
.button2:hover {
  opacity: 0.8;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
.button.contact {
  background-color: transparent;
  color: #ff5668;
  text-transform: uppercase;
  border: 2px solid #ff5668;
}
.button.contact:hover {
  background-color: #ff5668;
  color: #ffffff;
}
.button3 {
  display: block;
  color: #E50000;
  background-color: #fff4f4;
  border-radius: 12px;
  border-width: thin;
  font-size: 20px;
  transition: 0.2s opacity;
  transition-duration: 0.2s;
  transition-property: opacity;
padding: 10px;

}
.button3:hover {
  opacity: 0.8;
  text-decoration: none;
  font-size: 20px;
}

.row1 {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.logo {
  max-width: 150px;
  box-shadow: none;
  border-radius: 0px;
}
.profilepic {
    width: 25%;
    float: left;
    margin-right: 25px;
    margin-bottom: 25px;
    box-shadow: none;
}
[class*="col-"] {
  float: left;
  padding: 10px 10px 10px 10px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
@keyframes color-change {
  from {fill: #A7D9FF;}
  to {fill: #005da3;}
}
#sky {
  animation-duration: 5s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move-right {
  from {transform: translate(0,50px);}
  to {transform: translate(100px,50px);}
}
#cloud1 {
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: cloud-move-right;
}

@media only screen and (min-width: 640px) {
  main {
    padding-top: 99px;
  }
  body {
    padding: 20px 0;
    border-left: 20px solid #FFFFFF;
    border-right: 20px solid #FFFFFF;
    border-top: 20px solid #FFFFFF;
  }

header {
  text-align: unset;
  padding: 20px 0;

  border-left: 20px solid #FFFFFF;
  border-right: 20px solid #FFFFFF;
  border-top: 20px solid #FFFFFF;
}

nav {
    width: auto;
    float: right;
  }
  nav > ul {
  margin: 1em 0;
}
  nav > ul > li {
    display: inline-block;
  }

.navtoggle li:not(:last-child) {
  display: inline-block;
}
.navtoggle li:last-child {
  display: none;
}
.logo{
    max-width: 120px;

  }
.col-md-6 {
  width: 50%;
  float: left;
  padding: 0 10px;
}
.col-lg-5{
  width: 50%;
  float: right;
}
.col-lg-7{
  width: 50%;
  float: right;
}
[class*="col-"] {
  float: left;
  padding: 10px;
}
.row{
  padding-top: 20px;
  padding-bottom: 10px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.profilepic {
    width: 25%;
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
    box-shadow: none;
}
.text_left {
  text-align: left;
}
.text_right {
  text-align: right;
}

}
@media only screen and (min-width: 1024px) {
  .col-md-6 {
  width: 50%;
}
.top_margin {
    margin-top: 50px;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
}
@media only screen and (min-width: 1440px) {
  .col-md-6 {
  width: 50%;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
}
@media only screen and (min-width: 1920px) {
  .col-md-6 {
  width: 50%;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
}
